<tr id="<%= dom_id note %>">
  <td><%= note.content %></td>
  <td><%= link_to 'Show', note %></td>
  <td><%= link_to 'Edit', edit_note_path(note), remote: true %></td>
  <td><%= link_to 'Destroy', note, method: :delete, remote: true %></td>
</tr>
